Gemfile.lock
Gemfile
##keep your published site out
_site
##caches should only be local
.sass-cache
.asset-cache
.jekyll-metadata
##this damn file that Mac creates
*.DS_Store
##there be dragons if you try to push this remotely
node_modules
bower_components

