<footer class="footer">
    <div class="footer-signup section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h2 class="fancy-hdr p-b-0">Stay Connected</h2>
                    <p class="p-b-1">Sign up for our newsletter and get the latest news and happenings.</p>
                </div>
            </div>
            <form action="//busypatch.us8.list-manage.com/subscribe/post?u=b3ec41fd6ac251b09bea1b137&amp;id=2fea680b11" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="form-group row">
                    <label class="sr-only" for="mce_EMAIL">Email address</label>
                    <div class="col-xs-12 col-sm-9 mx-auto">
                        <div class="input-group">
                            <input name="EMAIL" type="email" class="form-control form-control-lg" id="exampleInputEmail3" placeholder="Enter email" id="mce-EMAIL" required>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b3ec41fd6ac251b09bea1b137_2fea680b11" tabindex="-1" value=""></div>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-secondary btn-lg btn-block">Subscribe!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="footer-extras section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <h3>Stay Social</h3>
                    <ul class="footer-list list-unstyled">
                        <li class="footer-list-item"><a class="footer-list-link" href="">Facebook</a></li>
                        <li class="footer-list-item"><a class="footer-list-link" href="">Twitter</a></li>
                        <li class="footer-list-item"><a class="footer-list-link" href="">Instagram</a></li>
                        <li class="footer-list-item"><a class="footer-list-link" href="">RSS</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <h3>Policies</h3>
                    <ul class="footer-list list-unstyled">
                        <li class="footer-list-item"><a class="footer-list-link" href="">Check-In & Check-Out</a></li>
                        <li class="footer-list-item"><a class="footer-list-link" href="">What to Bring</a></li>
                        <li class="footer-list-item"><a class="footer-list-link" href="">Discipline</a></li>
                        <li class="footer-list-item"><a class="footer-list-link" href="">Health Issues</a></li>
                        <li class="footer-list-item"><a class="footer-list-link" href="">Family Handbook</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-4">
                    <h3>Our Hours</h3>
                    <ul class="footer-list list-unstyled">
                        {{ hours }}
                        <li class="footer-list-item">{{ days }}: {{ time }}</li>
                        {{ /hours }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
