---
layout: default
---

{% if page.content %}
<div class="section section-welcome">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 mx-auto">
				<div class="welcome-wrap">
					<p class="body-copy">
						{{ content }}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}

{% if page.fancy-list.headline or page.fancy-list.list-text.list-text %}
<section class="section section-fancy-list shaded-bgd">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="card card-fancy">
					<div class="card-fancy-header">
						<span class="punch punch-left"></span>
						<span class="punch punch-right"></span>
					</div>
					<div class="card-fancy-body">
						<div class="fancy-inner">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="fancy-title">{{ page.fancy-list.headline }}</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<ul class="fancy-list">
										{% for value in page.fancy-list.list-text %}
										<li class="fancy-list-item">
											<p class="list-copy">{{ value }}</p>
										</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}

<div class="section section-programs shaded-bgd">
	<div class="container">
		<div class="row">
			<div class="card-deck-wrapper">
				<div class="card-deck">
					{% for card in page.cards %}
					<div class="card card-program">
						<div class="content-wrap">
							<div class="content-inner card-inner-{% cycle 'purple', 'blue', 'orange', 'pink' %}">
								<p class="card-copy">{{ card.text }}</p>
								{% if card.list %}
								<ul class="program-list">
									{% for value in card.list  %}
									<li class="program-list-item">
										<p class="program-list-title">{{ value }}</p>
									</li>
									{% endfor %}
								</ul>
								{% endif %}
							</div>
						</div>
					</div>
					{% if forloop.index3 == true or forloop.index > 0 or forloop.index != forloop.length %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="card-deck-wrapper">
				<div class="card-deck">
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
